<!---_Footer.Intro-->
<div class="row">
    <div class="vc_empty_space" style="height: 115px"><span class="vc_empty_space_inner"></span></div>
    <div class="col-lg-8 col-lg-offset-2">
        <div class="subtitle ft-kg">Cà phê Thùy Dung Gia Lai</div>
        <h2 class="text-center text-brown3 font-serif no-margin wellcome">KÍNH CHÀO QUÝ KHÁCH</h2>
        <div class="h-icon"> <img src="assets/frontend/themes/lamant/images/home/icon-h1.png" alt=""> </div>
        @Html.Raw(Model.ShortDesc)
    </div>
</div>

<!---/_Footer.Intro-->