<!---_Footer.Intro-->
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <h2 class="text-center text-brown3 font-serif no-margin"> @Model.Title</h2>
        @Html.Raw(Model.ShortDesc)
    </div>
</div>

<!---/_Footer.Intro-->