<!---Footer--->
@model App.Domain.Entities.GlobalSetting.ContactInformation
@if (Model != null)
{
    <footer>
        <div class="container">
            <div class="footer-column">
                <div class="row">
                    @{Html.RenderAction("FooterLink", "MenuNav", new { area = "" });}

                    <div id="col-2" class="col-xs-6 col-md-6 margin-bottom-15 pull-right">
                        <h6 class="text-right">Liên kết</h6>
                        <div class="copyright margin-bottom-15">
                            <div class="social-link pull-right">
                                @{Html.RenderPartial("Socials/_Social.FB_Link");}
                                @{Html.RenderPartial("Socials/_Social.GooglePlus_Link");}
                                @{Html.RenderPartial("Socials/_Social.Twitter _Link");}
                                @{Html.RenderPartial("Socials/_Social.Pinterest_Link");}
                                @{Html.RenderPartial("Socials/_Social.Youtube_Link");}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
}

<script>
    jQuery(function () {

        jQuery.post('@Url.Action("GetFooterAddress", "Summary")')
          .done(function (data) {
              jQuery("#divFooterAddress").html(data.list);
          });

        jQuery.post('@Url.Action("GetFooterLogo", "Summary")')
               .done(function (data) {
                   jQuery("#divFooterLogo").html(data.list);
               });

        jQuery.post('@Url.Action("PaymentMethodFooter", "PaymentMethod")')
            .done(function (data) {
                jQuery("#divPaymentMethodFooter").html(data.list);
            });
    })

</script>

<!---/GetInformationFooter--->
