<!---HomeContact-->
@model IEnumerable<App.Domain.Entities.GlobalSetting.ContactInformation>

@if (Model != null)
{
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="no-padding-left col-lg-4">
                    <h2 class="text-brown3 font-serif no-margin">Liên hệ</h2>
                    <ul class="text-gray4 margin-top-25 fa-ul">

                        @foreach (var contact in Model)
                        {
                            <li class="text-uppercase"><i class="fa-li fa fa-diamond"></i><strong>@contact.Title:</strong> </li>
                            if (!string.IsNullOrEmpty(contact.Address))
                            {
                                <li>
                                    <i class="fa-li fa fa-map-marker"></i>
                                    <b>
                                        @contact.Address
                                    </b>
                                </li>
                            }
                            if (!string.IsNullOrEmpty(contact.Email))
                            {
                                <li>
                                    <i class="fa-li fa fa-map-marker"></i>
                                    <b>
                                        @contact.Email
                                    </b>
                                </li>
                            }
                            if (!string.IsNullOrEmpty(contact.MobilePhone))
                            {
                                <li>
                                    <i class="fa-li fa fa-map-marker"></i>
                                    <b>
                                        @contact.MobilePhone
                                    </b>
                                </li>
                            }
                        }

                    </ul>
                </div>
                <div class="no-padding-right margin-top-80 col-lg-8 hidden-xs">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15488.447712227713!2d108.0053097!3d13.9519406!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc76a1b2a36857e29!2zRG50biBUaMawxqFuZyBN4bqhaSBUaMO5eSBEdW5n!5e0!3m2!1sfr!2s!4v1530379159277" class="embed-responsive-item" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
}


<!---/HomeContact-->