
@{
    Html.RenderAction("SlideShowHome", "SlideShow"); 
    Html.RenderAction("PostHome", "Post", new { MenuId = 15, area = "" });
}

<section id="home-3" style="background: url(assets/frontend/themes/lamant/images/home/landing-row-background-image.png) -5% 63%">
    <img id="coffee-cup-1" src="assets/frontend/themes/lamant/images/home/coffee-bean-dry.png" alt="">   
    <img id="coffee-bean-dry" src="assets/frontend/themes/lamant/images/home/about-bg.jpg" alt="">
</section>

@{
    Html.RenderAction("NewsHome", "News", new { area = "" });
    Html.RenderAction("HomeContact", "Contact", new { area = "" });
}

