<!----BannerTop-->
@using App.Aplication
@model IEnumerable<App.Domain.Entities.Ads.Banner>
@if (Model.IsAny())
{
    <ul class="gw-banner-top related-posts owl-carousel">
        @foreach (var item in Model)
        {
            <li class="post-item">
                <section id="products-1">
                <img class="img-responsive" src="@Url.Content("~/" + item.ImgPath)" alt="@ViewBag.Title">
            </section>
            </li>
        }
    </ul>
}
<!----/BannerTop-->